#board {
    padding: 3em;
    text-align: center;
}

.row {
    clear: both;
    margin: 0 auto;
    width: 302px;
}

.row > div{ 
    float: left;
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-size: 75px;
    cursor: pointer;
}

.top {
    border-bottom: 1px solid black;
}

.right {
    border-left: 1px solid black;
}

.left {
    border-right: 1px solid black;
}

.bottom {
    border-top: 1px solid black;           

}

.winning-message{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    justify-content: center; 
    align-items: center;
    display: flex;
    color: lightseagreen;
    font-size: 3rem;
}

.winning-message button button:hover {
    font-size: 3rem; 
    font-color: teal;
    background-color: lightskyblue ;
    border: 1px solid teal;
    padding: .25em .5em;
    cursor: pointer
}
