#board {
    padding: 3em;
    text-align: center;
}

h2 {
    margin: 0 auto;
    font-size: 25px;
    margin: 10px;
    color: s
    }

.row {
    clear: both;
    margin: 0 auto;
    width: 302px;
}

.row > div{ 
    float: left;
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-size: 75px;
    cursor: pointer;
}

.top {
    border-bottom: 1px solid black;
}

.right {
    border-left: 1px solid black;
}

.left {
    border-right: 1px solid black;
}

.bottom {
    border-top: 1px solid black;           

}

.winning-message{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    justify-content: center; 
    align-items: center;
    display: flex;
    color: lightseagreen;
    font-size: 3rem;
    flex-direction: column;
    display: none;
}

.winning-message button {
    
    font-size: 1rem;
    background-color:white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: turquoise;
    color: white;
    border-color: whitesmoke;
}

.winning-message.show {
    display: flex;
}