#board {
    padding: 3em 0;
    margin: 1.5em;
    text-align: center;
}

#sq:hover { 
    color: yellow;
}

.row {
    width: 302px;
    margin: 0 auto;
}

.row > div{ 
    height: 100px;
    width: 100px;
}

.top {
    border-bottom: 1px solid black;
}

.right {
    border-left: 1px solid black;
}

.left {
    border-right: 1px solid black;
}

.bottom {
    border-top: 1px solid black;           

}


