#board {
    padding: 3em;
    margin: 1.5em;
    text-align: center;
}

.row {float: left;
        height: 100px;
        width: 302px;
        clear: all;
        align-content: center=0;
        margin: 0 auto;
}
.top {border-bottom-color: rgba(52, 58, 64, 0.500);
        border-bottom-style: solid;
        border-bottom-width: 1px black solid;
}

.middle

.bottom


